
.nav-misc .nav-link,
.nav-scenarios .nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 4px 2px;
    margin: 2px;
    border: 1px solid gainsboro;
}
    .nav-misc .nav-link:hover,
    .nav-scenarios .nav-link:hover {
        color: blue;
    }
    .nav-misc .nav-link.active,
    .nav-scenarios .nav-link.active {
        font-weight: 500;
        color: rgb(32, 32, 32);
        background-color: rgb(235, 235, 235);
        border: 1px solid silver;
    }



.scenario-link {
    display: flex;
    align-items: center;
    padding: 4px 2px;
    text-decoration: none;
    color: black;
}
    .scenario-link.visited {
        color: blue;
    }
.scenario-link:hover {
    color: blue;
}
    .scenario-link.active {
        color: orangered;
        font-weight: 500;
    }




.ready-editions-list .pagination-info{
    display: none;
}
.ready-editions-list .pagination-list {
}

.ready-editions-list .list-view .list-group-header {
    background-color: transparent;
    border-color: green;
    border: 0;
    border-bottom: 1px solid silver;
}



.tab-menu .tab-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    min-width: 10em;
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 6px 4px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}
    .tab-menu .tab-item:visited {
        text-decoration: none;
    }
    .tab-menu .tab-item.pinned {
        font-size: 1.2em;
        border: 0;
        border-right: 1px solid silver;
        min-width: 10em;
    }

    .tab-menu .tab-item.not-pinned {
        border-color: whitesmoke;
        border-color: silver;
    }

    .tab-menu .tab-item:hover {
        background: gainsboro;
        border-color: silver;
    }

    .tab-menu .tab-item.active {
        background: rgb(235,235,235);
        border-color: silver;
    }

    .tab-menu .tab-item.pinned.active {
        border-color: silver;
        background-color: rgb(220,220,220);
        font-weight: 600;
    }

@media (max-device-width:480px) {

    .tab-menu .tab-item.pinned {
        min-width: auto;
    }
    .tab-menu .tab-item.not-pinned{
        width: 90%;
    }
}