
:root {
    --newspaper-content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --newspaper-headers-font: Georgia, 'Times New Roman', Times, serif;

    --newspaper-content-line-height: 1.4rem;
    --newspaper-content-font-size: 1em;
    --newspaper-headers-font-size: 1.1em;

    --newspaper-headers-background: rgb(232,232,232);

    --newspaper-mainquote-color: orange;
    --newspaper-offquote-color: lightgreen;
}
.page-newspaper ::selection {
    background-color: rgb(255, 218, 149);
}
.page-newspaper p {
    line-height: var(--newspaper-content-line-height);
    color: rgb(30,30,30);
}

.page-newspaper .main-body {
    background-color: gainsboro;
    font-family: var(--newspaper-content-font);
    margin: auto;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}

/* #region Логотип газеты */
.page-newspaper .main-header {
    font-family: var(--newspaper-headers-font);

    padding: 1em;
    padding-top: 0.5em;
    border: 1px solid gray;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
}
    .page-newspaper .main-header h1 {
        font-size: 2.4em;
        margin: 0;
    }
    .page-newspaper .main-header img {
        margin-right: 0.5em;
        height: 4.2em;
    }
    .page-newspaper .main-header p {
        margin: 0;
    }
    .page-newspaper .main-header .logo-date {
        font-size: 1.3em;
    }
    .page-newspaper .main-header .logo-date-more {
        display: none;
        font-size: 0.75em;
        color: gray;
    }

    @media (max-device-width:480px) {
        .page-newspaper .main-header {
            position: initial;
        }

            .page-newspaper .main-header img {
                height: 3em;
            }
    }
/* #endregion */

.page-newspaper .main-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 80vh;
    justify-content: center;
}
.page-newspaper .main-footer {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);

    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(236, 236, 236);
}

.page-newspaper .newspaper-content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: whitesmoke;
    flex: 1;
    min-width: 65%;
}

@media (max-device-width:480px) {
    .page-newspaper .newspaper-content {
        border-top: 1px solid gray;
    }
}

/* #region НАВИГАЦИЯ */
.page-newspaper .nav-bar {
    flex: 1;
    min-width: 300px;
    border-right: 1px solid gray;
    background-color: rgb(236, 236, 236);
    padding: 0 2px;
}
@media (max-device-width:480px) {
    .page-newspaper .nav-bar {
        border-left: 1px solid gray;
    }
}
.page-newspaper .content-navigation {
    position: sticky;
    top: 7.2em;
}
.page-newspaper h2.content-navigation-header {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-content-font-size);
    margin: 6px 0;
    font-weight: 600;
    font-size: 1.2em;
}
.page-newspaper .navigation-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 0.8em;
    margin: 2px 8px;
}
.page-newspaper .nav-links-section{
    overflow-y: auto;
    max-height: 79vh;
    overflow-x: hidden;
}
@media (max-device-width:480px) {
    .page-newspaper .nav-links-section {
        max-height: 100%;
    }
}

.page-newspaper .newspaper-navigation{
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
}
.page-newspaper .news-next,
.page-newspaper .news-prev {
    flex: 1;
    display: block;
    padding: 2px;
    text-decoration: none;
    color: darkblue;
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
}
    .page-newspaper .news-next:visited,
    .page-newspaper .news-prev:visited {
        color: darkblue;
    }
    .page-newspaper .news-next:hover,
    .page-newspaper .news-prev:hover {
        color: blue;
    }
.page-newspaper .news-next.disabled,
.page-newspaper .news-prev.disabled{
    color: black;
    cursor: default;
    font-weight: 500;
}
.page-newspaper .news-next{
    text-align: right;
}
.page-newspaper .news-prev{

}
.page-newspaper .back-to-simulator {
    flex: 1;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
}

.page-newspaper .details-navigation-content {
    margin: 0 4px;
    margin-top: 2px;
}
.page-newspaper .details-navigation-editions {
    margin: 0 4px;
}
    .page-newspaper .details-navigation-edition-lists {
        overflow-y: auto;
        max-height: 70vh;
        overflow-x: hidden;
    }
    .page-newspaper .details-navigation-editions details {
        padding: 0 12px;
        padding-right: 0;
        margin-right: 0;
    }
    .page-newspaper .details-navigation-editions details ::marker{
        color: gray;
    }
    .page-newspaper .details-navigation-list{
        padding: 0 1em;
        padding-right: 0.2em;
    }
.page-newspaper .news-edition-link {
    display: flex;
    margin: 4px 2px;
    font-size: 0.9em;
    text-decoration: none;
}
.page-newspaper .news-edition-link:hover {
    color: blue;
    text-decoration: underline;
}
    .page-newspaper .news-edition-link:active {
        color: darkblue;
    }
.page-newspaper .edition-icon {
    max-height: 20px;
    max-width: 20px;
    margin: 0 4px;
    margin-right: 8px;
    opacity: 0.7;
}
.page-newspaper .news-edition-link.current-news {
    font-weight: 600;
    border-bottom: 1px solid silver;
}
    .page-newspaper .news-edition-link.current-news .edition-icon {
        opacity: 1;
    }
/* #endregion */

/* #region Заголовки в событиях */
.page-newspaper .news-content h2 {
    margin: 2px 0;
}

.page-newspaper .news-content h3 {
    margin: 4px 0;
}

.page-newspaper .news-content h4 {
    margin: 4px 0;
}

.page-newspaper .news-content h5 {
    margin: 4px 0;
    font-size: 1em;
    color: rgb(45,45,45);
}
/* #endregion */

.page-newspaper .news-section {
    font-family: var(--newspaper-content-font);
    font-size: var(--newspaper-content-font-size);
    margin: 1em 0px;
    clear: both;
}
    .page-newspaper .news-section.entrance-block {
        margin-top: 0px;
    }

/*#region Заголовок раздела газеты */
.page-newspaper .news-section-header {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    padding: 8px 0.5em;
    padding-top: 0.8em;
    position: sticky;
    top: 4.75em;
    z-index: 1;
    background-color: whitesmoke;
    border-bottom: 2px solid gray;
}
.page-newspaper .news-section img.header-gif {
    max-height: 30px;
    margin: 0 6px;
}
.page-newspaper .news-section .news-section-header h2 {
    color: rgb(45,45,45);
    margin: 0 4px;
    font-size: 1.6em;
}

@media (max-device-width:480px) {
    .page-newspaper .news-section-header {
        position: initial;
    }
}
/* #endregion */


.page-newspaper .event-article {
    margin-top: 6px;
    /*padding-bottom: 10px;*/
}
.page-newspaper .work-in-progress{
    background-color: lightyellow;
}
.page-newspaper .rumine-news-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* #region Заголовок события */
.page-newspaper .event-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--newspaper-headers-background);
    padding: 4px 8px;
    font-size: 1em;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
}
    .page-newspaper .event-header .event-title {
        margin: 0.2em 0;
        margin-top: 0;
        font-size: 1.25em;
        color: rgb(64, 64, 64);
        margin-bottom: 2px;
    }

    .page-newspaper .event-header img.event-icon {
        width: 22px;
        opacity: 0.9;
        margin: 0;
        padding: 2px;
        margin-right: 0.4em;
        border: 1px solid transparent;
        border-bottom-width: 2px;
        border-radius: 2px;
    }
.page-newspaper .important-event .event-header img.event-icon {
    border-width: 3px;
    border-bottom-width: 3px;
}

.page-newspaper .event-date {
    color: gray;
    font-size: 1em;
    font-weight: 600;
}
.page-newspaper .event-header.header-caption-row .event-date {
    font-size: 0.9em;
}
.page-newspaper .event-description {
    color: gray;
    font-size: 0.85em;
}
/* #endregion */

.page-newspaper .news-content {
    padding: 4px 8px;
}
.page-newspaper .news-section p {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
.page-newspaper .news-section details {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

.page-newspaper .news-section-nav-header {
    color: rgb(32,32,32);
}
.page-newspaper .news-section-nav {
    margin: 0.5em 0;
    margin-top: 0;
    padding-top: 0;
}


/* #region ССЫЛКИ */
.page-newspaper .news-section a {
    text-decoration: none;
    color: rgb(196 127 0);
}
    .page-newspaper .news-section a:hover {
        text-decoration: underline;
        color: rgb(218, 141, 0);
    }
/* #endregion */

/* #region ЦИТАТЫ */
.page-newspaper blockquote {
    border-left: 3px solid;
    border-left-color: var(--newspaper-mainquote-color);
    padding-left: 8px;
    margin-left: 20px;
}
.page-newspaper .quotes blockquote {
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-left-color: var(--newspaper-offquote-color);
}
    .page-newspaper blockquote .quote-content {
        min-height: 30px;
        display: flex;
        flex-direction: column;
    }
.page-newspaper .news-section blockquote p{
    margin: 4px 0;
}
.page-newspaper blockquote cite{
    font-style: normal;
}
.page-newspaper .cite-user {
    align-items: center;
}
.page-newspaper img.mini-ava {
    max-width: 18px;
    max-height: 18px;
    margin: 0 4px;
}
.page-newspaper .user-cite-content {
    display: flex;
    align-items: center;
}
.page-newspaper .user-cite-content.inline{
    display: inline-block;
    vertical-align: middle;
}
.page-newspaper blockquote .quote-quote {
    border: 1px solid gainsboro;
    padding: 8px 4px;
    background-color: #fbfbeb;
}
.page-newspaper blockquote .quote-quote-author {
    border: 1px solid gainsboro;
    padding: 4px;
    background-color: #f7f5d3;
    font-weight: 600;
    color: rgb(64,64,64);
}

/* #endregion конец цитат */

/* #region ИЗОБРАЖЕНИЯ */
.page-newspaper .news-section figure {
    padding: 4px;
    border-radius: 2px;
    margin: 2px 6px;
    text-align: center;
}
.page-newspaper .news-section blockquote figure{
    text-align: left;
}
.page-newspaper .dialog-form figure {
    text-align: left;
}
.page-newspaper .creations figure{
    border: 1px solid rgb(235, 235, 235);
}
    .page-newspaper .news-section figure img {
        margin: 4px 0;
        max-width: 800px;
        max-height: 600px;
        max-width: 100%;
    }
    .page-newspaper .news-section figure p,
    .page-newspaper .news-section figcaption {
        text-align: center;
        color: gray;
        margin-top: 0px;
    }
.page-newspaper .news-section img {
    margin: 4px;
}
.page-newspaper img.rage {
    width: 40px;
    vertical-align: middle;
    margin: 0 2px;
}
.page-newspaper .creation-title{
    color: rgb(64,64,64);
}
.page-newspaper .creation-descr{
    font-size: 0.8em;
}
/* #endregion Конец изображений */

/* #region Списки */
.page-newspaper .news-content ul,
.page-newspaper .news-content ol{
    margin: 4px 0 4px 0;
}
    .page-newspaper .news-content ul li {
        padding: 4px 0;
    }
        .page-newspaper .news-content ul li p {
            margin: 0;
        }

/* #endregion */

/* #region Активность пользователей */
.page-newspaper .news-content .user-updates-list{
    margin-top: 10px;
}
.page-newspaper .user-activity-list .user-items {
    display: flex;
    flex-wrap: wrap;
}
        .page-newspaper .user-activity-list .user-item{
            display: flex;
            align-items: center;
            margin: 0 4px;
            font-size: 0.9em;
            width: 10em;
        }
.page-newspaper .user-activity-list .user-activity-ava {
    max-width: 16px;
}
.page-newspaper .user-activity-list h4{
    font-weight: 500;
}

.page-newspaper .famous-users .user-cite-content {
    align-items: flex-end;
    margin: 0 2px;
}
.page-newspaper .famous-users img.mini-ava {
    margin-bottom: 2px;
}
/* #endregion */

/* #region КОНТЕКСТНЫЙ БЛОК */
.page-newspaper .context-section {
    margin-bottom: 12px;
}
.page-newspaper .context-block-header {
    display: flex;
    align-items: flex-end;
    padding: 4px 8px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    background-color: var(--newspaper-headers-background);
}
.page-newspaper .context-block {
}
.page-newspaper .context-block-header .user-cite-content img{
    margin-left: 0;
    margin-right: 4px;
}

.page-newspaper .context-block.dialogs td.td-author{
    padding-left: 1.4em;
}
/* #endregion */

/* #region СОБЫТИЯ-ЗАМЕТКИ */
.page-newspaper .note-element {
    clear: both;
}
.page-newspaper .note-item{
}
.page-newspaper .note-content{
    padding-left: 1.5em;
    padding-top: 0;
}
.page-newspaper .note-content > p:first-child{
    margin-top: 0.2em;
}
.page-newspaper img.note-icon{
    width: 16px;
    height: 16px;
    margin: 0;
    margin-bottom: 2px;
    margin-right: 4px;
    align-self: end;
    opacity: 0.9;
}
.page-newspaper .note-title {
    margin: 0;
    color: rgb(64,64,64);
    font-weight: 600;
}
.page-newspaper .note-date{
    font-size: 0.8em;
    color: gray;
    margin: 4px 2em;
    margin-bottom: 0;
}
.page-newspaper .note-text {
    font-size: 0.8em;
    color: gray;
}
/* #endregion */

/* #region ПЕРЕХОДЫ в КОНТЕКСТНОМ БЛОКЕ */
.page-newspaper .quotes{
    padding: 1em 0;
}
.page-newspaper .creations {
    padding: 1em 0;
    padding-bottom: 0;
}
/*.page-newspaper .notes-list + .quotes{
    border-top: 1px solid silver;
}*/
.page-newspaper .notes-list + .creations {
    border-top: 1px solid silver;
}
/*.page-newspaper .dialogs + .quotes{
    border-top: 1px solid silver;
}*/
/*.page-newspaper .dialogs + .creations {
    border-top: 1px solid silver;
}*/
.page-newspaper .event-article + .context-section > .quotes:first-child{
    border-top: 1px solid silver;
}
.page-newspaper .event-article + .context-section > .creations:first-child {
    border-top: 1px solid silver;
}
/* #endregion */

/* #region ГАЛЕРЕЯ */
.page-newspaper .gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-newspaper .gallery-header{
    text-align: center;
}
.page-newspaper .gallery-item{
    min-width: 40%;
    max-width: 45%;
    margin: 8px 6px;
}
    .page-newspaper .gallery-item.vertical {
        max-width: 25%;
    }
    .page-newspaper .gallery-item.horizontal{
        max-width: 80%;
    }
    .page-newspaper .gallery-item.single {
        max-width: 80%;
    }
    .page-newspaper .gallery-item.full-row{
        min-width: 80%;
        max-width: 80%;
    }

.page-newspaper figure.gallery-item{
    border: 0;
}
.page-newspaper figure.gallery-item img{
    max-height: 360px;
    max-width: 100%;
}

@media (max-device-width:480px) {
    .page-newspaper .gallery-item {
        max-width: 100%;
    }
        .page-newspaper .gallery-item.vertical {
            max-width: 100%;
        }
        .page-newspaper .gallery-item.horizontal {
            max-width: 100%;
        }
        .page-newspaper .gallery-item.single {
            max-width: 100%;
        }
}
/* #endregion */

/* #region Спойлеры */
.page-newspaper .summary-header {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
    display: inline-block;
    width: 90%;
    cursor: pointer;
    font-size: 0.9em;
}
.page-newspaper .summary-header h3{
    font-size: 1em;
    margin: 6px 0;
    font-weight: 500;
}
.page-newspaper .content-navigation-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-newspaper .period-info{
    color: gray;
}

    .page-newspaper details summary{
        cursor: pointer;
    }

/* #endregion */

/* #region Таблицы */
.page-newspaper table {
    max-width: 100%;
}
.page-newspaper .default-table,
.page-newspaper .dialog-table {
    border-collapse: collapse;
}
.page-newspaper .dialog-table {
    width: 100%;
}
    .page-newspaper .default-table td,
    .page-newspaper .default-table th,
    .page-newspaper .dialog-table td,
    .page-newspaper .dialog-table th {
        padding: 4px;
    }
    .page-newspaper .default-table td,
    .page-newspaper .default-table th {
        border: 1px solid gainsboro;
    }

    .page-newspaper .dialog-table th {
        border-bottom: 1px solid silver;
        padding-top: 0.5em;
        font-weight: 500;
    }
    .page-newspaper .dialog-table td {
        border-bottom: 1px solid gainsboro;
    }
    .page-newspaper .context-section .dialog-table th {
        background-color: var(--newspaper-headers-background);
        border-top: 1px solid silver;
        padding-top: 4px;
        padding-bottom: 4px;
    }
        .page-newspaper .dialog-table th > div {
            display: flex;
            align-items: flex-end;
        }
.page-newspaper .dialog-table tr:first-child td {
    border-top: 1px solid gainsboro;
}
.page-newspaper .dialog-table tr:last-child td {
}

.page-newspaper .dialog-title {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    margin-left: 4px;
    color: rgb(64,64,64);
    display: flex;
}
.page-newspaper .dialog-date {
    font-size: 0.8em;
    margin: 0 8px;
    font-weight: 400;
    margin-left: 1.5em;
}
.page-newspaper td.dialog-info-cell{
    padding-left: 0;
    padding-bottom: 4px;
}
.page-newspaper td.td-author {

}
.page-newspaper td.td-content{
}
.page-newspaper td.td-content p{
    min-width: 30em;
}
.page-newspaper .td-author .user-cite-content{
}
.page-newspaper .author-row .td-author {
    border-bottom: 0px;
    padding-bottom: 0;
    width: auto;
}
.page-newspaper .content-row .td-content{
    padding-left: 3em;
    padding-top: 0;
}
.page-newspaper .content-row .quote-quote-author{
    margin-top: 8px;
}

.page-newspaper .dialog-table td p {
    margin: 0.5em 0;
    font-size: 0.95em;
}


@media (max-device-width:480px) {
    .page-newspaper td.td-author {
    }
        .page-newspaper td.td-content p {
            word-wrap: anywhere;
            min-width: initial;
        }
}

/* #endregion */

/* #region ОБЩИЕ СТИЛИ */
.page-newspaper .right {
    float: right;
}
.page-newspaper .left {
    float: left;
}

@media (max-device-width:480px) {
    .page-newspaper .right,
    .page-newspaper .left{
        float: initial;
    }
}

.page-newspaper .center {
    text-align: center;
}

.page-newspaper .column {
    display: flex;
    flex-direction: column;
}

.page-newspaper .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-newspaper .inline {
    display: inline-block;
}

.page-newspaper .hidden,
.newspaper .hidden{
    display: none;
}
.page-newspaper .shown,
.newspaper .shown{
    display: initial;
}
.page-newspaper .clear {
    clear: both;
}

.page-newspaper .inprogress {
    background-color: #fffbca;
}

.page-newspaper .gazette-hidden{
    display: none;
}

.page-newspaper .undefined {
    background-color: pink;
}
.page-newspaper .line {
    border-bottom: 2px solid gray;
}
.page-newspaper .bold{
    font-weight: 600;
}
.page-newspaper .font-size-18{
    font-size: 1.1em;
}
.page-newspaper .font-size-24 {
    font-size: 1.2em;
}
.page-newspaper .font-size-32 {
    font-size: 1.3em;
}
.page-newspaper .italic{
    font-style: italic;
}
.page-newspaper .comment{
    color: gray;
    margin: 8px 4px;
    border: 1px solid gainsboro;
    border-radius: 1px;
    padding: 4px;
    background-color: rgb(240,240,240);
}
.page-newspaper .lined {
    border-bottom: 1px solid silver;
}
.page-newspaper .paragraph{
    margin: 6px 0;
}

.page-newspaper .quote-quote {
    font-size: 0.9em;
    border: 1px solid gainsboro;
    padding: 8px 4px;
    background-color: #fbfbeb;
}
.page-newspaper .quote-quote-author {
    font-size: 0.9em;
    border: 1px solid gainsboro;
    padding: 4px;
    background-color: #f7f5d3;
    font-weight: 600;
    color: rgb(64,64,64);
}
.page-newspaper .dialog-form{
    margin: 1em 0;
}


.f-content {
    display: none;
}
.pre-f-content {
}
@media (max-device-width:480px) {
    .f-content {
        display: initial;
    }
}

/* #endregion */

/* #region эксперименты */

/* открепление шапки */
.page-newspaper .main-header{
    position: initial;
}
.page-newspaper .news-section-header{
    top: -4px;
    padding-top: 0.5em;
}
.page-newspaper .content-navigation{
    top: 1em;
}
.page-newspaper .nav-links-section{
    max-height: 88vh;
}

/* #endregion */

/* #region Навигация в теле газеты */
.page-newspaper .nav-anchor{
    position: relative;
    width: 0;
    height: 0;
}

.page-newspaper .news-section .news-content ul.nav-inner-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    margin-top: 0px;
    padding: 6px 0px;
}
.page-newspaper ul li.nav-inner-item {
    display: flex;
    align-items: center;
    padding: 0;
}
    .page-newspaper .nav-inner-item.level-2 {
        font-size: 1.1em;
    }
    .page-newspaper .nav-inner-item.level-3 {
        margin-left: 1.2em;
    }
    .page-newspaper .nav-inner-list .level-2 + .level-3 {
        border-top: 1px solid gainsboro;
    }
    .page-newspaper .event-nav-icon{
        width: 20px;
        height: 20px;
    }
    .page-newspaper .event-nav-date{
        display: none;
        color: gray;
        margin-left: 1em;
    }
.page-newspaper .nav-inner-link {
}
.page-newspaper .nav-inner-list .nav-section a.nav-inner-link {
    font-weight: 500;
    color: darkblue;
}
.page-newspaper .nav-inner-list .nav-event a.nav-inner-link {
    font-weight: normal;
}
.page-newspaper .nav-inner-list .nav-event.important .event-nav-icon {
    border: 1px solid gainsboro;
}

.page-newspaper .section-navigation .nav-inner-list{
    display: inline-block;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 8px;
}
.page-newspaper .header-navigation {
    flex: 1;
    text-align: right;
    align-self: flex-end;
}
.page-newspaper .header-nav-item{
    font-size: 0.8em;
    color: rgb(64,64,64);
    margin: 0 4px;
}

/* #endregion */

/* #region Адаптации под новость на Румайне */
.page-newspaper.RumineFullNews {
    --newspaper-content-line-height: 24px;
    --newspaper-content-font-size: 16px;
    --newspaper-headers-font-size: 18px;
    --newspaper-headers-background: rgb(250,250,250);
}
.page-newspaper.RumineFullNews .news-section-header h2 {
    font-weight: 600;
}
    .page-newspaper.RumineFullNews .news-content h3 {
        font-weight: 600;
        font-size: 1.2em;
    }
    .page-newspaper.RumineFullNews .event-header h3 {
        font-weight: 700;
    }
    .page-newspaper.RumineFullNews .news-content h5 {
        font-weight: 600;
    }
    .page-newspaper.RumineFullNews.preview .news-section a:hover{
        text-decoration: underline;
    }

    .page-newspaper.RumineFullNews .event-header{
        border-left: 2px solid silver;
        border-right: 2px solid silver;
    }
    .page-newspaper.RumineFullNews .context-block-header {
        border-left: 1px solid silver;
        border-right: 1px solid silver;
    }
    .page-newspaper.RumineFullNews .dialogs .dialog-table th {
        border-left: 1px solid silver;
        border-right: 1px solid silver;
    }

    .page-newspaper.RumineFullNews .event-header img.event-icon {
        width: 30px;
    }
    .page-newspaper.RumineFullNews img.note-icon {
        width: 18px;
        height: 18px;
    }

    .page-newspaper.RumineFullNews img.header-gif {
        max-height: 30px;
    }

    .page-newspaper.RumineFullNews .dialog-title {
        font-size: var(--newspaper-content-font-size);
        font-family: var(--newspaper-content-font);
    }
    .page-newspaper.RumineFullNews .news-section-header {
        background-color: white;
        top: 50px;
    }
    .page-newspaper.RumineFullNews .f-content {
        display: initial;
    }
    .page-newspaper .safe-mode .unsafe {
        display: none;
    }
    .page-newspaper .safe-mode .unsafe-none {
        display: none;
    }
    .page-newspaper .safe-mode .unsafe-hidden {
        visibility: hidden;
    }
    .page-newspaper .safe-mode .unsafe-trans {
        color: transparent;
    }

/* #endregion */