
:root {
    --newspaper-content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --newspaper-headers-font: Georgia, 'Times New Roman', Times, serif;

    --newspaper-content-line-height: 1.4rem;
    --newspaper-content-font-size: 1em;
    --newspaper-headers-font-size: 1.1em;
}
.page-newspaper ::selection {
    background-color: rgb(255, 218, 149);
}
.page-newspaper p {
    line-height: var(--newspaper-content-line-height);
    color: rgb(45,45,45);
    color: rgb(30,30,30);
}
.page-newspaper .news {
    font-family: var(--newspaper-content-font);
    font-size: var(--newspaper-content-font-size);
}

.page-newspaper .main-body {
    background-color: gainsboro;
    font-family: var(--newspaper-content-font);
    margin: auto;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}

/* ЛОГОТИП */
.page-newspaper .main-header {
    font-family: var(--newspaper-headers-font);

    padding: 1em;
    border: 1px solid gray;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
}
    .page-newspaper .main-header h1 {
        font-size: 2.4em;
        margin: 0;
    }
    .page-newspaper .main-header img {
        margin-right: 0.5em;
        height: 4.2em;
    }
    .page-newspaper .main-header p {
        margin: 0;
    }
    .page-newspaper .main-header .logo-date {
        font-size: 1.3em;
    }
    .page-newspaper .main-header .logo-date-more {
        display: none;
        font-size: 0.75em;
        color: gray;
    }


.page-newspaper .main-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 80vh;
    justify-content: center;
}
.page-newspaper .main-footer {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);

    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(236, 236, 236);
}

/* НАВИГАЦИЯ */
.page-newspaper .nav-bar {
    flex: 1;
    min-width: 300px;
    border-right: 1px solid gray;
    background-color: rgb(236, 236, 236);
    padding: 0 2px;
}
@media (max-device-width:480px) {
    .page-newspaper .nav-bar {
        border-left: 1px solid gray;
    }
}
.page-newspaper .content-navigation {
    position: sticky;
    top: 7.2em;
}
.page-newspaper h2.content-navigation-header {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
    margin: 6px 0;
    font-size: 1.2em;
}
.page-newspaper .navigation-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 0.8em;
    margin: 2px 8px;
}
.page-newspaper .nav-links-section{
    overflow-y: auto;
    max-height: 70vh;
    overflow-x: hidden;
}

.page-newspaper .newspaper-navigation{
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
}
.page-newspaper .news-next,
.page-newspaper .news-prev {
    flex: 1;
    display: block;
    padding: 2px;
    text-decoration: none;
    color: darkblue;
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
}
    .page-newspaper .news-next:visited,
    .page-newspaper .news-prev:visited {
        color: darkblue;
    }
    .page-newspaper .news-next:hover,
    .page-newspaper .news-prev:hover {
        color: blue;
    }
.page-newspaper .news-next.disabled,
.page-newspaper .news-prev.disabled{
    color: black;
    cursor: default;
    font-weight: 500;
}
.page-newspaper .news-next{
    text-align: right;
}
.page-newspaper .news-prev{

}
.page-newspaper .back-to-simulator {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
}

.page-newspaper .details-navigation-content {
    border-top: 1px solid silver;
    margin: 0 4px;
    margin-top: 4px;
}
.page-newspaper .details-navigation-editions {
    margin: 0 4px;
}
    .page-newspaper .details-navigation-edition-lists {
        overflow-y: auto;
        max-height: 70vh;
        overflow-x: hidden;
    }
    .page-newspaper .details-navigation-editions details {
        padding: 0 12px;
    }
    .page-newspaper .details-navigation-editions details ::marker{
        color: gray;
    }
    .page-newspaper .details-navigation-list{
        padding: 0 1em;
    }
.page-newspaper .news-edition-link {
    display: flex;
    margin: 4px 2px;
    font-size: 0.9em;
    text-decoration: none;
}
.page-newspaper .news-edition-link:hover {
    color: blue;
    text-decoration: underline;
}
    .page-newspaper .news-edition-link:active {
        color: darkblue;
    }
.page-newspaper .edition-icon {
    max-height: 20px;
    max-width: 20px;
    margin: 0 4px;
    margin-right: 8px;
    opacity: 0.7;
}
.page-newspaper .news-edition-link.current-news {
    font-weight: 600;
    text-decoration: underline;
}
    .page-newspaper .news-edition-link.current-news .edition-icon {
        opacity: 1;
    }

    /* ОСНОВНОЙ КОНТЕНТ ГАЗЕТЫ */
.page-newspaper .newspaper-content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: whitesmoke;
    flex: 1;
    min-width: 65%;
}
@media (max-device-width:480px) {
    .page-newspaper .newspaper-content {
        border-top: 1px solid gray;
    }
}

.page-newspaper .header-news {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    padding: 8px 0.5em;
    padding-top: 0.8em;
    position: sticky;
    top: 4.75em;
    z-index: 1;
    background-color: whitesmoke;
}
@media (max-device-width:480px) {
    .page-newspaper .header-news {
        top: 5.5em;
    }
}
    .page-newspaper .header-news h2 {
        color: rgb(45,45,45);
        margin: 0 4px;
        font-size: 1.6em;
    }
.page-newspaper .news {
    margin: 1em 0px;
    clear: both;
}
.page-newspaper .entrance-block.news{
    margin-top: 0px;
}

.page-newspaper .event-article {
    margin-top: 10px;
}

.page-newspaper .event-header {
    background-color: rgb(240,240,240);
    padding: 4px 8px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
    .page-newspaper .event-header h3 {
        margin: 0.2em 0;
        font-size: 1.25em;
    }
.page-newspaper .event-date {
    color: gray;
    font-size: 1em;
    font-weight: 600;
}
.page-newspaper .event-date-element {
    display: inline-block;
    display: none;
    margin: 4px 12px;
    padding: 2px 8px;
    background-color: rgb(245,245,245);
    border: 1px solid gainsboro;
    margin-bottom: 0;
}
.page-newspaper .event-description {
    color: gray;
    font-size: 0.85em;
}

.page-newspaper .event-site h3,
.page-newspaper h4.event-size {
    color: green;
}
.page-newspaper .event-rumine h3,
.page-newspaper h4.event-rumine {
    color: #cd7100;
}
.page-newspaper .event-important h3,
.page-newspaper h4.event-important {
    color: red;
}


.page-newspaper .event-content {
    padding: 4px 8px;
}

/* ЗАГОЛОВКИ */
.page-newspaper .event-content h2{
    margin: 2px 0;
}
    .page-newspaper .event-content h3 {
        margin: 4px 0;
    }
    .page-newspaper .event-content h4 {
        margin: 4px 0;
    }
    .page-newspaper .event-content h5 {
        margin: 4px 0;
        font-size: 1em;
        border-bottom: 1px solid silver;
    }
/* ССЫЛКИ */
.page-newspaper .news a {
    text-decoration: none;
    color: rgb(196 127 0);
}
    .page-newspaper .news a:hover {
        text-decoration: underline;
        color: rgb(218, 141, 0);
    }

/* ЦИТАТЫ */
.page-newspaper blockquote {
    border-left: 3px solid orange;
    padding-left: 8px;
    margin-left: 20px;
}
    .page-newspaper blockquote .quote-content {
        min-height: 30px;
        display: flex;
        flex-direction: column;
    }
.page-newspaper .news blockquote p{
    margin: 2px 0;
}
.page-newspaper blockquote cite{
    font-style: normal;
}
.page-newspaper .cite-user {
    align-items: center;
}
.page-newspaper img.mini-ava {
    max-width: 20px;
    max-height: 20px;
    margin: 0 4px;
}
.page-newspaper .user-cite-content {
    display: flex;
    align-items: center;
}
.page-newspaper .news img.header-gif{
    height: 20px;
    margin: 0 6px;
}
.page-newspaper blockquote .quote-quote {
    border: 1px solid gainsboro;
    padding: 8px 4px;
    background-color: #fbfbeb;
}
.page-newspaper blockquote .quote-quote-author {
    border: 1px solid gainsboro;
    padding: 4px;
    background-color: #f7f5d3;
    font-weight: 600;
    color: rgb(64,64,64);
}

.page-newspaper .quotes blockquote {
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

/* ИЗОБРАЖЕНИЯ */
.page-newspaper .news figure {
    border: 1px solid rgb(235,235,235);
    padding: 4px;
    border-radius: 2px;
    margin: 2px 6px;
    text-align: center;
}
    .page-newspaper .news figure img {
        margin: 4px 0;
        max-width: 800px;
        max-height: 600px;
        max-width: 100%;
    }
    .page-newspaper .news figure p,
    .page-newspaper .news figcaption {
        text-align: center;
        color: gray;
    }
.page-newspaper .news img {
    margin: 4px;
}
.page-newspaper img.rage {
    width: 40px;
    vertical-align: middle;
    margin: 0 2px;
}

.page-newspaper .event-content ul,
.page-newspaper .event-content ol{
    margin: 4px 0 4px 0;
}
    .page-newspaper .event-content ul li {
        padding: 4px 0;
    }
        .page-newspaper .event-content ul li p {
            margin: 0;
        }

.page-newspaper .event-content .user-updates-list{
    margin-top: 10px;
}
.page-newspaper .user-activity-list .user-items {
    display: flex;
    flex-wrap: wrap;
}
        .page-newspaper .user-activity-list .user-item{
            display: flex;
            align-items: center;
            margin: 0 4px;
            font-size: 0.9em;
            width: 10em;
        }
.page-newspaper .user-activity-list .user-activity-ava {
    max-width: 16px;
}

@media (max-device-width:480px) {
    .page-newspaper .news-list {
        padding-left: 1.25em;
    }
}
.page-newspaper .news-list h5,
.page-newspaper .news-list h4 {
    margin: 0;
}
.page-newspaper .news-list h3 {
    margin: 4px 0;
    margin-left: 4px;
}
.page-newspaper .news-list h4{
    font-size: 1.1em;
}
.page-newspaper .news-list .news-list-event-header {
    display: flex;
    border-bottom: 1px solid gainsboro;
    align-items: end;
    /*padding: 2px;
    border: 1px solid gainsboro;
    background-color: rgb(240,240,240);*/
}
.page-newspaper .news-list .news-list-event-date {
    margin-right: 4px;
    font-weight: 600;
    color: gray;
}
.page-newspaper .news-list .news-header-description{
    flex: 1;
    text-align: right;
    margin: 0 8px;
    font-size: 0.8em;
    color: gray;
}
.page-newspaper .news-list .news-list-event-content{
    margin: 0 4px;
}
.page-newspaper ul.news-list li {
    padding: 6px 0;
}
.page-newspaper ul.news-list li b,
.page-newspaper ul.news-list .bold{
    font-weight: 500;
}
.page-newspaper ul.news-list blockquote{
    border-left-width: 3px;
}
.page-newspaper .event-content ul.news-list li p{
    margin: 0.5em 0;
}
.page-newspaper .news-list ul li p{
    margin: 1px 0;
}
.page-newspaper .news-list ul ul,
.page-newspaper .news-list ul ol{

}
.page-newspaper .event-content ul.news-list li li{
    padding: 2px 0;
}
.page-newspaper .event-content ul.news-list li li p {
    margin: 0;
}

.page-newspaper .news p {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}


.page-newspaper .gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-newspaper .gallery-header{
    text-align: center;
}
.page-newspaper .gallery-item{
    max-width: 45%;
    margin: 8px 6px;
}
.page-newspaper figure.gallery-item{
    border: 0;
}
.page-newspaper figure.gallery-item img{
    max-height: 240px;
}

.page-newspaper .summary-header {
    font-family: var(--newspaper-headers-font);
    font-size: var(--newspaper-headers-font-size);
    display: inline-block;
    width: 90%;
    cursor: pointer;
    font-size: 0.9em;
}
.page-newspaper .summary-header h3{
    font-size: 1em;
    margin: 6px 0;
    font-weight: 500;
}
.page-newspaper .content-navigation-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-newspaper .copy-link-button{
    display: none;
    background-color: transparent;
    margin: 0 4px;
}
.page-newspaper .copy-link-button:hover{
    background-color: white;
}
    .page-newspaper .copy-link-button:active {
        background-color: white;
        border-color: gray;
        color: black;
    }


    .page-newspaper table{
        max-width: 100%;
    }

    .page-newspaper details summary{
        cursor: pointer;
    }


/* ОБЩИЕ СТИЛИ */
.page-newspaper .right {
    float: right;
}
.page-newspaper .left {
    float: left;
}

@media (max-device-width:480px) {
    .page-newspaper .right,
    .page-newspaper .left{
        float: initial;
    }
}


.page-newspaper .center {
    text-align: center;
}

.page-newspaper .column {
    display: flex;
    flex-direction: column;
}

.page-newspaper .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-newspaper .inline {
    display: inline-block;
}

.page-newspaper .hidden {
    display: none;
}
.page-newspaper .clear {
    clear: both;
}

.page-newspaper .inprogress {
    background-color: #fffbca;
}

.page-newspaper .gazette-hidden{
    display: none;
}

.page-newspaper .undefined {
    background-color: pink;
}
.page-newspaper .line {
    border-bottom: 2px solid gray;
}
.page-newspaper .bold{
    font-weight: 600;
}
.page-newspaper .bigger-18{
    font-size: 1.1em;
}
.page-newspaper .bigger-24 {
    font-size: 1.2em;
}
.page-newspaper .bigger-32 {
    font-size: 1.3em;
}
.page-newspaper .italic{
    font-style: italic;
}